<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot & Thymeleaf File Upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Hello user</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                    <br><br>
                </form>
                <form method="get" th:action="@{/getRecords}">
                    <button type="submit" class="btn btn-primary">Show all records</button>
                    <br><br>
                </form>
                <form method="get" th:action="@{/filterRecordsByPeriod}">
                    <label for="from">From</label>
                    <input type="text" id="gRecByPStart" name="start">
                    <label for="to">To</label>
                    <input type="text" id="gRecByPEnd" name="end">
                    <button type="submit" class="btn btn-primary">Filter records by period</button>
                </form>
                <form method="get" th:action="@{/showRecordsByPeriod/page/1}">
                    <button type="submit" class="btn btn-primary">Show filtered</button>
                    <br><br>
                </form>
                <form method="get" th:action="@{/getRecord}">
                    <label for="pKey">PRIMARY_KEY:</label>
                    <input type="text" id="gRec" name="primaryKey">
                    <button type="submit" class="btn btn-primary">Show record</button>
                    <br><br>
                </form>
                <form method="post" th:action="@{/delete}">
                    <label for="pKey">PRIMARY_KEY:</label>
                    <input type="text" id="del" name="primaryKey">
                    <button type="submit" class="btn btn-primary">Delete record</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>